*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Caveat", cursive;
    
    line-height: 1.6;
    margin: 20px;
    padding: 0;
    background-color:#9b7cac;
    color: #333;
}
h1 {
    color:white;
}
.highlight {
    color: white;
    font-weight: bold;
}
.services {
    list-style: none;
    padding: 0;
}
.services li::before {
    content: "🌟 ";
}
.contact {
    margin-top: 20px;
    font-weight: bold;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
div img{
    width: 400px;
    height: 300px;
    border: 2px solid #9b7cac;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px black;
    cursor: pointer;
    margin: 10px;
    transition: 400ms;
}
div img:hover{
    filter: grayscale(1);
    transform: scale(1.03);
}