* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Libre Baskerville", serif;
}

body {
    width: 100vw;
    height: 100vh;

}
html{
    scroll-behavior: smooth;
}

header {
    background-color: gray;
    padding: 9px;
    height: 72px;
    display: grid;
    align-items: center;   
}
#button-click{
    display: flex;
    flex-direction: column;
   row-gap: 6px;

    border: 0;
    background: transparent;
    margin-top: 10px;
}
#button-click span{
width: 30px;
height: 2px;
border-radius: 10px;
background: #2d3748;
}

#button-click.active span:nth-child(2){
    opacity: 0;
}
.caixa-video {
    position: fixed;
    z-index: -1;
    top: 0;
}
.mascara-do-form{
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0000008c;
    backdrop-filter: blur(3px);
    z-index: 4;
}
.fomulario{
    z-index: 5;
    background-color: gray;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10px;

    padding: 15px;
    left: -450px;
    border-radius: 5px;
    gap: 2px;
    transition: left 1s ease-in-out;
}
.form{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: #fff;
}
.My-button{
    background: #9b7cac;
    color: #ffffffb3;
    border:none;
    border-radius: 10px;
    padding: 4px 10px;
    
    &:hover{
        color: #89ABB4;
        background-color: #2d3748;
        opacity: 0.8;
    }
    &:active{
        opacity: 0.4;
    }
}
input{
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
}
video {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
}

.container-header {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10px;
    margin: 0;
}

.div-log {
    display: flex;
    margin: 0 10px;
}

.div-log a {
    color: #000;
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
    line-height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    letter-spacing: 0.05em;
    padding: 0 20px 5px 0;
}
.div-list a{
    text-decoration: none;
}
.div-logo-img {
    width: 99px;
}

.image-carrosel {
    height: 30vw;
    width: 70vh;

    border-radius: 35px;
   padding: 20px;
}

.carousel-item {
    left: 33%;

}

#carouselExampleControls {
    background-color: transparent;
    padding: 20px;
  
}

.titulo-carrossel {
    color: #89ABB4;
    font-size: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 5px;
}

.button-list {
    background-color: #9b7cac;
    border: none;
    color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.button-list:hover {
    opacity: 0.8;
    color: #2d3748;
}

.button-list:active {
    opacity: 0.5;
}

.menu-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 16px;
    text-decoration: none;
}

ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    transition: .2s;
    display: block;
    position: relative;
    padding: 8px;
}
ul:hover li a{
    opacity: .3;
  
}

ul li a:hover{
    opacity: 1;
    transform: scale(1.2);
    color: #fff;
}
ul li a::before{
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:black;
    z-index: -1;
 border-radius: 15px;
    transform-origin: right;
    transform: scaleX(0);
    transition:transform .2s;
}
ul li a:hover::before{
    transform-origin: left;
    transform: scale(1);
    transition:transform .2s;
}

.mascara {
    height: 100%;
    width: 100%;
    background: linear-gradient(8deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 100%, rgba(10, 12, 16, 0.99) 100%);
    position: fixed;
    top: 0;
}
.posicionado{
 
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 3;
   
}
.agendamento{
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 3;
}
main {
    min-height: 600px;
    padding: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.container-home {
    margin: 0 auto;
    padding: 48px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;

}

.span-h1-home {
    font-family: "Caveat", cursive;
    font-size: 48px;
    padding: 20px;
}


.h1-text-home {
    font-size: 76px;
    font-weight: bold;

}

.h3-texto-home {
    padding: 30px;

}

.button-home {
    border: none;
    padding: 10px 20px;
    border-radius: 9999px;
    cursor: pointer;
    background-color: #9b7cac;
    color: #ffffffb3;
    text-align: center;
    display: inline-block;


    &:hover {
        opacity: 0.8;
        color: #2d3748;
    }

    &:active {
        opacity: 0.5;
    }
}

.img-home {
    width: 380px;
    border-radius: 20px;


}

.image-card {
    border-radius: 20px;
    width: 200px;
    display: block;
    margin: 0 auto;
    transform: translateY(-40px);
    transition: transform 0.3s ease, scale 0.3s ease;
}

.sectio-serv {
    margin: 0 auto;
    padding: 40px 48px;
    min-height: 500px;

}

.container-serv {
    text-align: center;
    margin: 0 auto 80px;
    padding: 0 48px;
}

.titolo-do-serv {
    font-size: 40px;
    font-weight: bolder;
    color: #89ABB4;
}

.div-cad {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 65px;
    place-items: center;

}

.serv-card {
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
    transition: all 0.5s ease;
    max-width: 300px;
    position: relative;


    &:hover {
        background-color: #9b7cac;
        color: #2d3748;
    }
}

.serv-card:hover .image-card {
    transform: translateY(-40px) scale(1.06) rotate(4deg);
}

.div-texto-servico-card {
    padding: 16px;
    text-align: center;
}

.h1-card-serv {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
    text-align: center;
}

.p-card-serv {
    color: #89ABB4;
    transition: all 0.7 ease;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin: 16px;
}

.serv-card:hover .p-card-serv {
    color: #fff;
}

.container-nav {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;

}

.meu-endereço {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column-reverse;
    gap: 50px;
}

.h1-texto-endereço {
    font-size: 35px;
    color: #fff;
}

.map-iframe {
    width: 700px;
    height: 350px;
    position: relative;
    bottom: 20px;
}

footer {
    background-color: gray;
    min-height: 150px;
    padding: 5px;


}

.div-log-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-logo {
    width: 50px;


}

.div-log-filho {
    display: flex;
    justify-content: center;
    align-items: center;
}












@media screen and (max-width: 1172px) {
    .div-log a {
        font-size: 25px;
    }

    .menu-list {
        display: none;
    }

    .h1-text-home {
        font-size: 40px;
    }

    .span-h1-home {
        font-size: 28px;
    }

    .img-home {
        width: 320px;
    }

    .div-cad {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 65px;
        place-items: center;
    }

    .titolo-do-serv {
        font-size: 35px;
    }
 
    

}

@media screen and (max-width: 876px) {
    .div-log a {
        font-size: 24px;
    }

    .button-list {
        font-size: 18px;
    }

    .h1-text-home {
        font-size: 20px;
    }

    .span-h1-home {
        font-size: 32px;
    }

    .grid {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .img-home {
        width: 280px;

    }

    .titolo-do-serv {
        font-size: 30px;
    }
    .image-carrosel {
        height: 40vw;
        width: 50vh;
        padding: 5px 3px;
        gap: 20px;
    }
    .carousel-item {
     
    
    }
}

@media screen and (max-width: 777px) {
    .titolo-do-serv {
        font-size: 25px;
    }
    .titulo-carrossel {
        font-size: 20px;
    }
}

@media screen and (max-width: 679px) {
    .titolo-do-serv {
        font-size: 23px;
    }
    .carousel-item {
        left: 26%;
    
    }
}

@media screen and (max-width: 643px) {
    header {
        padding: 0;
    }

    .div-log a {
        font-size: 22px;
    }

    .button-list {
        font-size: 16px;
    }

    .div-logo-img {
        width: 70px;
    }

    .div-cad {
        display: grid;
        grid-template-columns: 1fr;
        gap: 65px;
    }
    .h1-texto-endereço{
        font-size: 30px;
    }
    .map-iframe {
        width: 390px;
        height: 280px;
    }
    .h1-texto-home{
        font-size:36px;
    }
.h3-texto-home{
    font-size: 21.6px;
}
}

@media screen and (max-width: 566px) {
    .div-log a {
        font-size: 18px;

    }

    .button-list {
        font-size: 13px;
    }

    .div-logo-img {
        width: 60px;
    }

    .map-iframe {
        width: 310px;
        height: 280px;
    }

    .h1-texto-endereço {
        font-size: 30px;
    }

    #principal {
        font-size: 35px;
    }
    .carousel-item {
        left: 21%;
    
    }
    .h1-texto-home{
        font-size:25px;
    }
.h3-texto-home{
    font-size: 18px;
}
}

@media screen and (max-width: 499px) {
    .div-log a {
        font-size: 15.6px;

    }

    .button-list {
        font-size: 10px;
    }

    .div-logo-img {
        width: 52px;
    }

    .map-iframe {
        width: 310px;
        height: 280px;
    }

    .h1-texto-endereço {
        font-size: 30px;
    }

    #principal {
        font-size: 35px;
    }
    .carousel-item {
        left: 14%;
    
    }
    .titulo-carrossel{
        font-size: large;
    }
    .image-carrosel {
        height: 76vw;
        width: 34vh;
    }
    .carousel-item {
        left: 12%;
    
    }
    .h1-texto-home{
        font-size: 29px;
    }
.h3-texto-home{
    font-size: 17px;
}
}
@media screen and (max-width: 398px) {
    .div-log a {
        font-size: 15px;

    }

    .button-list {
        font-size: 8px;
    }

    .titolo-do-serv {
        font-size: 19px;
    }

    .map-iframe {
        width: 290px;
        height: 280px;
    }

    .h1-texto-endereço {
        font-size: 25px;
    }

    #principal {
        font-size: 30px;
    }

    #name-footer {
        font-size: 13px;
    }
    .carousel-item {
        left: 10%;
    
    }
    .titulo-carrossel{
        font-size: 15px;
    }
    .meu-endereço{
        font-size: 12px;
    }
    .image-carrosel {
        height: 80vw;
        width: 40vh;
    
      
    }       .h1-texto-home{
        font-size: 25px;
    }
.h3-texto-home{
    font-size: 14px;
}
}

@media screen and (max-width: 376px) {
    .div-log a {
        font-size: 11px;

    }

    .button-list {
        font-size: 9px;
    }

    .titolo-do-serv {
        font-size: 17px;
    }

    .map-iframe {
        width: 290px;
        height: 280px;
    }

    .h1-texto-endereço {
        font-size: 25px;
    }

    #principal {
        font-size: 30px;
    }

    .image-carrosel {
        height: 80vw;
        width: 37vh;
    
    } 


}

@media screen and (max-width: 361px) {
    .div-log a {
        font-size: 9.1px;

    }

    .button-list {
        font-size: 4.5px;
    }

    .titolo-do-serv {
        font-size: 16px;
    }

    .map-iframe {
        width: 290px;
        height: 280px;
    }

    .h1-texto-endereço {
        font-size: 25px;
    }

    #principal {
        font-size: 30px;
    }
    .h1-texto-home{
        font-size: 20px;
    }
.h3-texto-home{
    font-size: 15px;
}
}

@media screen and (max-width: 163px) {
    .div-log a {
        font-size: 4px;

    }

    .button-list {
        font-size: 1px;
    }

    .img-home {
        width: 120px;

    }

    .div-logo-img {
        width: 10px;
    }

    .h1-text-home {
        font-size: 1px;


    }

    .h3-texto-home {
        padding: 10px;

    }
}